@use "color";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
#introDiv {
  padding: 10vw 0 30vw;
  h6 {
    color: color.$green-like;
    font-size: 15px;
    font-family: monospace;
    font-weight: 100;
  }
  h1 {
    color: color.$white-like;
    margin: 15px 0;
    font-size: clamp(40px, 6.5vw, 80px);
    font-family: "Roboto";
    & + h1 {
      color: color.$gray-like;
    }
  }
  p {
    line-height: 1.7;
    color: color.$gray-like;
    width: 500px;
  }
}
